body{
    margin:auto;
    padding:0;
    scrollbar-width: none;
    height:1200px;
    width:100%;
}

.sticky{
    background: linear-gradient(to right, rgba(173, 3, 252, 0.7), rgba(187, 0, 0, 0.9));
    text-align:center;
    box-sizing: content-box;
    width:100vw;
    position:fixed;
    font-weight: bold;
    height: 50px;
}
.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top, black, transparent 60%),
              url('./netflix_bg.jpg') center/cover no-repeat;
  position: relative;
  
}

.navbar {
    position: absolute;
    top: 50px; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 10;
    box-sizing: border-box;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    position: relative;
}

.signin button{
    color: white;
    text-decoration: solid;
    background-color: red;
    height: 30px;
    width: 60px;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.head{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color:white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
